<% title "VEDAVAAG | VLE" %>
<h3>VEDAVAAG | Panchayats | Manage Panchayats</h3>

<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Panchayats. <br/>
  Along with creating, managing Panchayat for Application.
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'Users'), users_path, :class => 'btn-yellow' %>
  <%= link_to content_tag(:span, 'New Panchayat'), new_panchayat_path, :class => 'btn-yellow' %>
</div>

<% if @panchayats.blank? %>
    <div class="error_msg">
      OOPS!.. No Panchayats are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter" id="myTable">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Block</th>
        <th>District</th>
        <th>Division</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @panchayats.each do |pan| %>
          <tr>
            <td><%= i %></td>
            <td><%= highlight(pan.name.titleize, params[:search]) %></td>
            <td><%= highlight(pan.block.name.titleize,params[:search]) %></td>
            <td><%= highlight(pan.district.name.titleize,params[:search]) %></td>
            <td><%= highlight(pan.division.name.titleize,params[:search]) %></td>
            <td>
              <%= link_to "View", pan, :class => 'usuallink bold_text' %>

            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @panchayats %> <%= will_paginate @panchayats, :container => false %>
    </div>

<% end %>

<script type="text/javascript">
    $(document).ready(function () {
                $("#myTable").tablesorter({headers:{ 0:{ sorter:false}, 4:{ sorter:false}}}

                );

            }
    );
</script>







